@media (max-width: 600px)  {
	.left_column{
		width: 90%;
		margin-right: 0%;
		height: 100px;
	}
	.central_column{
		width: 90%;
		height: 200px;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	.right_column{
		margin-left: 0%;
		width: 90%;
		height: 200px;
	}
}
