body{
	text-align: center;	
	background: #dad4da;
}
.header{
	display: inline-block;
	width: 90%;
	height: 100px;
	background-color: #736056;
	margin-bottom: 2%;
}
.left_column{
	display: inline-block;
	width: 20%;
	height: 500px;
	background-color: #2288a8;
	margin-right: 1%;
}
.central_column{
	display: inline-block;
	width: 34%;
	height: 500px;
	background-color:#84cded;
}
.right_column{
	display: inline-block;
	width: 34%;
	height: 500px;
	background-color: #6d8836;
	margin-left: 1%;
}

.bottom{
	display: inline-block;
	width: 90%;
	height: 100px;
	background-color: #736056;
	margin-top: 2%;
}